
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
  --font-color: black;
  --highlight-color: #00a5ce;
  --secondary-color: #868f95;
  --header-bg-color: #B8E6F1;
  --footer-bg-color: #BFC0C3;
  --table-img-bg-color: #BFC0C3;
  --gap-size: 15px;
}

@page{
  size:A4;
  margin:4cm 0 3cm 0;
  @top-left{
    content:element(header);
  }
  @bottom-left{
    content:element(footer);
  }
}
* {
  box-sizing: border-box;
}

body{
  margin:0;
  padding:1cm 2cm;
  color:var(--font-color);
  font-family:'Montserrat', sans-serif;
  font-size:10pt;
}

a{
  color:inherit;
  text-decoration:none;
}

hr{
  margin: 0.8cm 0;
  height:0;
  border:0;
  border-top:1mm solid var(--highlight-color);
}


header{
  height:8cm;
  padding:0 2cm;
  position:running(header);
  background-image:url('Header-docs.png');
  background-size: cover; /* Ajusta la imagen para cubrir el área */
}

header .headerSection:first-child{
  padding-top:.5cm;
}

header .headerSection:last-child{
  padding-bottom:.5cm;
}

header .headerSection div:last-child{
  width:35%;
  margin-top:1cm;
}

header .headerSection:last-child div:last-child{
  width:auto;
}

header .logoAndName{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

header .logoAndName svg{
  width:1.5cm;
  height:1.5cm;
  margin-right:.5cm;
}

header h1,
header h2,
header h3,
header p{
  margin:0;
}

header h2,
header h3{
  text-transform:uppercase;
}

header h2{
  font-size:120%;
}

.formLine {
  display: flex;
  align-items: flex-start;
  margin-left: calc(-1 * var(--gap-size));
  margin-bottom: .5cm;
}

.formLineWrap {
  flex-wrap: wrap;
}

.formLine > * {
  padding-left: var(--gap-size);
  box-sizing: border-box;
}

.lineSubmit {
  text-align: center;
}

.w100{
  width: 100%;
}

.w66{
  width:66%;
}

.w50{
  width:50%;
}

.w33{
  width:33%;
}

aside{
  -prince-float: bottom;
  padding:0 2cm .5cm 2cm;
}

aside p{
  margin:0;
  column-count:2;
}
