

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


:root{
  --font-color: black;
  --highlight-color: #00a5ce;
  --secondary-color: #868f95;
  --header-bg-color: #B8E6F1;
  --footer-bg-color: #BFC0C3;
  --table-img-bg-color: #BFC0C3;
  --gap-size: 10px;
}

@page{
  size:A4;
  margin:0;
  @top-left{
    content:element(header);
  }
  @bottom-left{
    content:element(footer);
  }
}
* {
  box-sizing: border-box;
}


html body{
  margin:0;
  margin-top: 0;
  padding:0;
  color:var(--font-color);
  font-family:'Arimo', sans-serif;
  font-size:14px;
}

a{
  color:inherit;
  text-decoration:none;
}

hr{
  margin: 0.8cm 0;
  height:0;
  border:0;
  border-top:1mm solid var(--highlight-color);
}


header{
  height:5cm;
  padding:0;
  margin:0;
  margin-top: -10px;
  position:running(header);
  background-size: cover;
}

.w100{
  width: 100%;
}

.w66{
  width:66%;
}

.w50{
  width:50%;
}

.w33{
  width:33%;
}

.centerDocument{
 display: flex;
justify-content: center;
}
.containerPdf{
  width: 80%;
}
.title_document{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 5px;
}
.section_escala{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  line-height: 0px;
  margin: 0;
  padding-top: 0;
}
.text_escala{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 0;

}

.feedbackTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.feedbackTable th, .feedbackTable td {
  border: 0.5px solid #1a1919;
  padding: 8px;
  font-family:'Arimo', sans-serif;
  font-size:14px;
}
.colorTable1{
  background-color: #bad3f7;
  width: 40%;
  text-align: left;
}
.colorTable2{
  background-color: #bad3f7;
  width: 60%;
  text-align: center;
}

.left{
  width: 30%;
}
.right{
  width: 70%;
  text-align: center;
}

.escala {
  display: flex;
  justify-content: center;
  gap: 0;
  padding-bottom: 10px;

}

.box {
  width: 58px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-top: 0.5px solid #090909;
  border-left: 0.5px solid #090909;
  border-bottom: 0.5px solid #090909;
}
.box-10 {
  width: 58px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: 0.5px solid #090909;
}

.descriptor{
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0px;
}

.skills{
  margin-bottom: 10px;
}
.feedback{
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: justify
}

.skills-inactive{
  display: none;
}

.li-inactive1{
  display: none;
}
.li-inactive2{
  display: none;
}
.li-inactive3{
  display: none;
}

